.container{
  width: 80%;
  margin:0 auto;
}

#header{
  position:sticky;
  top:0px;
}

#header::after{
  content:'';
  display:table;
  clear:both;
}

#header-img{
  height:auto;
  width: 120px;
  float:left;
}

#nav-bar{
  float:right;
}

ul{
  margin:0;
  padding:0;
  list-style: none;
}

li{
  display:inline-block;
  padding:3px 0px 3px 0px;
  margin-left: 70px;
}

.nav-link{
  color:black;
  text-decoration: none;
}

.nav-link:hover{
  padding:10px 10px 10px 10px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  color:rgba(0,0,0,0.7);

}

#form{
  clear:both;
}

#Home{
  display:flex;
  flex-direction: row;
  align-items: center;
  height:70vh;

}

#U1{

  margin-left: 11%;
}
#home-image{
  margin-right: 10%;
}
